.form-field-container {
  padding: 1rem;
  display: block;
  border: 2px solid;
  border-radius: 0.5rem;
  background-color: var(--primary);
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
